@media screen and (max-width: 600px){
    .winter {
        background-color: var(--primaryWinter);
        color: var(--textWinter);
    }

    .snow:hover {
        background-color: var(--hoverWinter);
    }

    .snowFlake {
        background: var(--imgWinter) 
        no-repeat center fixed;
        -webkit-background-size: cover;
    }
    
    .flake:hover {
        background-image: var(--imgWinter);
    }
 }

:root {
    --primaryAutumn:#a44104;
    --textAutumn: white;
    --imgAutumn: url("https://images.pexels.com/photos/695207/pexels-photo-695207.jpeg?auto=compress&cs=tinysrgb&w=800");
    --hoverAutumn: #d6bda7;;

    --primaryWinter:#386c96;
    --textWinter : white;
    --imgWinter: url("https://images.pexels.com/photos/1438761/pexels-photo-1438761.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
    --hoverWinter: #96bedc;
}



* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.5;
    background-color: rgb(255, 255, 255);
}

nav {
    color:var(--textAutumn);
    width: 100 vw;
    background-color: var(--primaryAutumn);
    margin: 0;
    padding: 0;
}

nav > h1 {
    font-size: 2rem;
    padding : 0;
    margin: 0;
}

nav > h1:hover {
    cursor: pointer;
}

a { 
    all :unset;
}

ul {
    display: flex;
    margin: 0;
    padding:0;
}

li {
    display: inline-flex;
    list-style-type: none;
    margin: 1vmin;    
}

li:hover {
    background-color: var(--hoverAutumn);
    font-size: 1.2rem;
    margin: 0;
    cursor: pointer;
    transition: 0.5s;
}



header {
    margin: 0;
    color : var(--textAutumn);
    text-align: center;
    min-height: 250px;
    background: var(--imgAutumn)
    no-repeat center fixed;
    -webkit-background-size: cover; 
  background-size: cover;
}

h1 {
    padding: 1rem;
    margin :0;
}



section {
    margin: 0 auto;
    max-width: 65ch;
}


div{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0;
    grid-row-gap: 1rem;
}


article {
    background-color: white;
    margin : 1rem;
    border-radius: 5px;
    box-shadow: 1px 2px  5px rgb(72, 69, 69);
    max-height:10vh;
}

article:hover {
    background-image: var(--imgAutumn);
    color:var(--textAutumn);
    cursor: pointer;
}

footer {
    background-color: var(--primaryAutumn);
    padding: 1rem;
    color: white;
}


 